*{
    box-sizing: border-box;
}
a{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

input{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

body{
    background-image: url(../img/fondobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

/* Aqui comienza el header */

body header{
    background-color: #080f28;
    background-repeat: no-repeat;
    background-position: top;
    height: 125px;
}

.header-nav a{
    text-decoration: none;
    color: white;  
    margin-top: 10px;
    padding: 10px 45px;
    background-color:#007aff;
    font-weight: bolder;
    border-radius: 15px;
}

.header-registro{
    display: flex;
    align-items: center;
}

.header-registro a input{
    border: white;
    border-width: 2px;
    border-style:solid;
    color:white;  
    background-color: #007aff;
    padding: 10px 10px;
   /*  text-align: center; */
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom:35px ;
}

.header-busqueda {
    display: flex;
    align-items: center;   
}

.lupa{
    color:#1888ffe1;
    margin:0px 0px 36px 10px;
}

.header-busqueda input {
    border:none;  
    background-color: #007aff;
    padding: 10px 10px;
    border-radius: 30px;
    margin-bottom: 33px;
}
::placeholder{
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
header{
    background-image: url(../img/fondoclaro.jpg);
    max-width: 100%;
}

.logo {
    max-width: 135px;
    max-height: 135px;
} 
.header-nav{
    padding: 40px 0px 0px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
#logo{
    padding: 0px 0px 0px 0px;
}
/* Aquí comienza el main del detalle de genero */
main{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    background-image: url(../img/fondobody.jpg);
}
.drama a img{
    border-radius: 50%;
    width: 8%;
    margin: 0% 5%;
}

.contenedorpadre h2{
        display: inline-block;
        width:90%;
        max-width: 1900px;
        background-color: #080f28;
        padding: 15px 0px 15px 10px;
        color:white;
        font-weight: 700;
        text-align: left;
        border-radius: 15px;
        margin: 2% 5%;
        
}
.contenedor {
    display: flex;
    width: 90%;
    max-width: 1900px;
    background-color: #080f28;
    padding: 1% 1% 3% 1%;
    border-radius: 20px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height:30vh ;
    flex-wrap: wrap;
}
.contenedor h3{
    color: white;
    text-align: center;
    max-width: 90%;
    margin:auto;
    padding: 2% 0%  ;
}
.contenedor p{
    color: white;
    text-align: center;
    font-size: 80%;
    max-width: 80%;
    margin: 3px auto;
    padding-top: 0.5%;
}
.generochijo{
    display: block;
    flex-direction: column;
    justify-content:center;
    background-color: #007aff;
    border-radius: 10%;
    width: 20%;
    padding: 10px;
    margin-top: 2%;
}
.generochijo a img{
    display: block;
    margin: auto;
    width: 80%;
    padding: 1% 0%;
}
/* footer */
footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fondobody.jpg);
}
.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1900px;
    margin: 0 auto;
    background-color:#080f28;
    padding: 2% 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box-footer .logo img {
    width: 100%;
}
.box-footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:white;
    font-size: 18px;
}
.box-footer h2 {
    margin-bottom: 20px;
    color:white;
    font-weight: 700;
}
.box-footer a {
    color: white;
    margin-top: 20px;
    font-weight: 650;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.box-footer a .fab {
    font-size: 25px;
}
.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    color: white;
}
.box-copyright p {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}
.box-copyright hr{
    background-color: white;
    width: 1200px;
    border: none;
    height: 3px;
}