*{
    box-sizing: border-box;
}
a{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

input{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

body{
    background-image: url(../img/fondobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

/* Aqui comienza el header */

body header{
    background-color: #080f28;
    background-repeat: no-repeat;
    background-position: top;
    height: 125px;
}

.header-nav a{
    text-decoration: none;
    color: white;  
    margin-top: 10px;
    padding: 10px 45px;
    background-color:#007aff;
    font-weight: bolder;
    border-radius: 15px;
}

.header-registro{
    display: flex;
    align-items: center;
}

.header-registro a input{
    border: white;
    border-width: 2px;
    border-style:solid;
    color:white;  
    background-color: #007aff;
    padding: 10px 10px;
   /*  text-align: center; */
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom:35px ;
}

.header-busqueda {
    display: flex;
    align-items: center;   
}

.lupa{
    color:#1888ffe1;
    margin:0px 0px 36px 10px;
}

.header-busqueda input {
    border:none;  
    background-color: #007aff;
    padding: 10px 10px;
    border-radius: 30px;
    margin-bottom: 33px;
}
::placeholder{
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
header{
    background-image: url(../img/fondoclaro.jpg);
    max-width: 100%;
}
/* nav div{ 
    display: inline-block;
    align-items: flex-end;
} */
.logo {
    max-width: 135px;
    max-height: 135px;
} 
.header-nav{
    padding: 40px 0px 0px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
#logo{
    padding: 0px 0px 0px 0px;
}
/* Aquí comienza el main */
.main-container{
    max-width:  1900px;
    padding: 1% 5%;
    justify-content: center;
    margin: 0 auto;
    
}
.main-container article{
    display: flex;
    /* background-color:green; */
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 1900px;
    padding: 1%;
    border-radius: 20px;
    min-width: 300px;
}
/* .titulos {
    background-color:#080f28;
    color: white;
    text-align: left;
    font-weight: 700;
    margin-bottom: 1%;
    text-align: left;
    border-radius: 15px;
    max-width:1900px ;
    min-width: 300px;
} */
.titulos h2{
    display: inline-block;
    width:100%;
    background-color: #080f28;
    margin-bottom: 10px;
    padding: 15px 10px;
    padding-left: 15px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
    margin: 0 0;
}
.popu-pelis {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: #080f28;
    margin:  0;
    max-width: 1900px;
    border-radius: 20px;
    padding: 1%;
}
.popu-pelis article{
    margin: 0%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: nowrap;
    background-color:#007aff ;
    max-width: 10%;
    width: 5%;
    padding-left: 1%;
    padding-right: 0%;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
article div{
    display: flex;
    justify-content: flex-end;
   
}
 .imagen a img{
    max-width: 95%; 
    padding: 10px;
}
article p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
}
article h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
    max-width: 95%;
    color: white;
}
/* Aquí comienza el footer */
footer {
    width: 100%;
    padding: 30px 0px;
    background: #080f28;
    background-size: cover;
    height: 5%;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}
.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box-footer .logo img {
    width: 200px;
}
.box-footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:white;
    font-size: 18px;
}
.box-footer h2 {
    margin-bottom: 20px;
    color:white;
    font-weight: 700;
}
.box-footer a {
    color: white;
    margin-top: 20px;
    font-weight: 650;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.box-footer a .fab {
    font-size: 25px;
}
.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    color: white;
}
.box-copyright p {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}
.box-copyright hr{
    background-color: white;
    width: 1200px;
    border: none;
    height: 3px;
}

/* Aqui comienza el registro y login*/

.div-registro{
    display: flex;
    justify-content: space-around;
    background-color: #080f28;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 70px 10px 80px 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
    font-size: 25px;
}

.main-registro{
    max-width: 500px;
}

.h1-registro{
    margin-top: 0px;
}

.h1-login{
    margin-top: 0px;
}

form {
    display: inline-block;
    justify-content: center;
    max-width: 1000px;
}

form div input {
    display: block;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    border:none;
    color: white;  
    background-color: #007aff;
    padding: 8px 60px;
    text-align: left;
    border-radius: 30px;
}

.nacionalidad-registro{
    display: block;
    margin-top: 15px;
    border:none;
    color: white;  
    background-color: #007aff;
    padding: 8px 60px;
    text-align: left;
    border-radius: 30px;
}
/* Terminos y condiciones del registro */

.terminos-registro {
    display: flex;
    flex-wrap: wrap;
    
}

.terminos-registro input{
    background-color: #007aff;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 30px;
}

.terminos-registro label{
    margin-top: 15px;
}


/* Boton registrarse */

.boton-registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boton-registro a{
    text-decoration: none;
}


/* Boton de volver del registro y login*/

.boton-volver{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton-volver a {
    text-decoration: none;
   
}


/* Boton login */

.boton-login{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.boton-login a{
    text-decoration: none;
}