*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

input{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

body{
    background-image: url(../img/fondobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

/* Aqui comienza el header */

body header{
    background-color: #080f28;
    background-repeat: no-repeat;
    background-position: top;
    height: 125px;
}

.header-nav a{
    text-decoration: none;
    color: white;  
    margin-top: 10px;
    padding: 10px 45px;
    background-color:#007aff;
    font-weight: bolder;
    border-radius: 15px;
}

.header-registro{
    display: flex;
    align-items: center;
}

.header-registro a input{
    border: white;
    border-width: 2px;
    border-style:solid;
    color:white;  
    background-color: #007aff;
    padding: 10px 10px;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom:35px ;
}

.header-busqueda {
    display: flex;
    align-items: center;   
}

.lupa{
    color:#007aff;
    margin:0px 0px 36px 10px;
}

.lupa-search{
    background: none;
    border: none;
}

.burguermenu{ 
    margin-top: 6.5%;
    display: none;
}

.header-busqueda input {
    border:none;  
    background-color: #007aff;
    padding: 10px 10px;
    border-radius: 30px;
    margin-bottom: 33px;
    
}

.alert{
    color: white;
    font-size: 13px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

::placeholder{
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
}
header{
    background-image: url(../img/fondoclaro.jpg);
    max-width: 100%;
}
.logo {
    max-width: 135px;
    max-height: 135px;
} 

.registro-logo{
    display: flex;
    justify-content: center;
    background-color:#007aff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: none;
}

.registro-logo i{
    color: black;
}

.header-nav{
    padding: 40px 0px 0px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Aquí comienza el footer */
footer {
    width: 100%;
    padding: 30px 20px;
    background-color: #080f28;
    height: 3%;
    background-size: cover;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
    margin-top: 3%;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1900px;
    margin: auto;
    background-color:#080f28;
    background-size: cover;
    padding: 2% 5%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box-footer .logo img {
    width: 200px;
}
.box-footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:white;
    font-size: 18px;
}
.box-footer h2 {
    margin-bottom: 20px;
    color:white;
    font-weight: 700;
}
.box-footer a {
    color: white;
    margin-top: 20px;
    font-weight: 650;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.box-footer a .fab {
    font-size: 25px;
}
.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    color: white;
}

.box-copyright .integrantes {
    margin-bottom: 20px;
    font-weight: bolder;
    
}
.box-copyright p {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}
.box-copyright hr{
    background-color: white;
    width: 1200px;
    border: none;
    height: 3px;
}
/* Aquí comienza el main */

.titulo{
    display: inline-block;
    background-color: #080f28;
    color: white;
    max-width: 1900px;
    margin: 2% 5%;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
}
.tituloSeries{
    display: inline-block;
    background-color: #080f28;
    color: white;
    max-width: 1900px;
    margin: 2% 5%;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedorSerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedorSeries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedor1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedor3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    width: 90%;
    max-width: 1900px;
    margin: auto;
    background-color: #080f28;
    border-radius: 20px;

}
.contenedor h2{
    color:green;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.contenedor .hijo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#080f28;
}
.imagen-port{
    display: block;
    background-color:#007aff;
    max-width: 250px;
    align-items: center;
    margin: 4%;
    padding: 2%;
    border-radius: 15px;
   
}
.imagen-port img{
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 10%;
}
.imagen-port h3{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom:  15px;
    color:white;
    text-align: center;
    width: 100%;
}
.imagen-port p{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
/* Aqui comienza el registro y login*/

.div-registro{
    display: flex;
    justify-content: space-around;
    background-color: #080f28;
    padding: 5%;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
    font-size: 25px;
    max-width: 1000px;
    margin: 4%;
}

.main-registro{
    display: flex;
    justify-content: center;
    
    
}

.h1-registro{
    margin-top: 0px;
}

.h1-login{
    margin-top: 0px;
}

form {
    display: inline-block;
    justify-content: center;
    max-width: 100%;
}

form div input {
    display: block;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    border:none;
    color: white;  
    background-color: #007aff;
    padding: 8px 60px;
    text-align: left;
    border-radius: 30px;
}

.nacionalidad-registro{
    display: block;
    margin-top: 15px;
    border:none;
    color: white;  
    background-color: #007aff;
    padding: 8px 60px;
    text-align: left;
    border-radius: 30px;
}
form div label{
    margin:1%;
}
/* Terminos y condiciones del registro */

.terminos-registro {
    display: flex;
    flex-wrap: wrap;
    
}

.terminos-registro input{
    background-color: #007aff;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 30px;

}

.terminos-registro label{
 
    font-size: 15px;
    margin-top: 5%;

}


/* Boton registrarse */

.boton-registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

   
}

.boton-registro a{
    text-decoration: none;
   
}


/* Boton de volver del registro y login*/

.boton-volver{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton-volver a {
    text-decoration: none;
   
}


/* Boton login */

.boton-login{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
   
}

.boton-login a{
    text-decoration: none;
}

/* Comienza el index de Generos */


.generoSeries {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    max-width: 1800px;
    flex-wrap: wrap;
    background-color:#080f28;
    border-radius: 20px;
    margin: 1% 5%;
}
.genero a{
   
    width: 20%;
    margin: 2% 0% 1% 0%;
}
.genero img{
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
}
.generoPeliculas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    max-width: 1800px;
    flex-wrap: wrap;
    background-color:#080f28;
    border-radius: 20px;
    margin: 1% 5%;
}
.generoPeliculas a, .generoSeries a{
    display: inline-block;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif ;
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
    text-transform: uppercase;
    background-color: #007aff;
    padding-top: 50px;
    height: 17vh;
    color:white;
    border-color:white;
    width: 135px;
    vertical-align: middle;
    border-radius: 50%;
    margin: 1.5% 3%;
    border-style: double;
    border-width: 6px;   
}
/* Aqui empieza resultados de busqueda */

.main-container-result{
    display: flex;
    background-color:#080f28;
    justify-content: space-around;
    margin: 0%;
    width: 1900px;
    padding: 0%;
    border-radius: 20px;
}

.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    padding: 10px 10px;
    color: white;
}
.resultados h2{
    width: 100%;
    display: inline-block;
    background-color: #080f28;
    margin-bottom: 1%;
    padding: 10px 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
}

.resultados h3 {
    width: 100%;
    background-color: #080f28;
    margin-bottom: 1%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 5px;
    text-align: left;
    border-radius: 15px;
}


/* Aca comienza el detailseries.html */

.fav{
    background-color: #007aff;
    border-style: none;
    color:white;
}

#star{
    color:yellow;
}

.hijo-detail-series {
    display: flex;
    
    /* flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; */
}


.series{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    
}

.detailseriessinopsis-container{
    width: 60%;
    /* display: flex; */
    flex-wrap: wrap;
    color: white;
    margin: 4% 3%;
}
.detailseriessinopsis-container h3{
    text-transform: uppercase;
}

.boton-favoritos {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 0px 25px;
    color: #007aff;
    width: 180px;
    display: flex;
    justify-content: flex-start;
}

.detail-favoritos{
    margin-top: 10px;
    width: 230px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #007aff;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.movie {
    margin: 30px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.detail-favoritos h3{
    margin: 0px 0px 0px 6px;
    color: white; 
}

.detail-favoritos i{
    margin:2%;
    color: white;
} 

.detail-favoritos a{
    text-decoration: none;
}


/* Aca comienza el detail-genres.html */
.titulo h2{
    text-transform: uppercase;
}
.tituloSeries h2{
    text-transform: uppercase;
}
.fotodrama p{
    display: inline-block;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif ;
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
    text-transform: uppercase;
    background-color: #007aff;
    padding-top: 50px;
    height: 17vh;
    color:white;
    border-color:white;
    width: 135px;
    vertical-align: middle;
    border-radius: 50%;
    margin: 1.5% 3%;
    border-style: double;
}

/* Aca comienza el responsive del Header y Footer */

@media (max-width:420px){
    
    nav{
        padding-top: 22px;
    }

    header{
        width: 100%;
    }

    .burguermenu{
        display: block;
        margin-left: 5%;
        margin-top: 8%;
        color: #007aff;
    }

    .burguermenu i{
        width: 100%;
    }

    .burguer{
        width: 100%;
    }

    .header-nav{
        display: none;
    }
    
    .header-busqueda{
        width: 40%;
        margin-right: 10px; 
    }  

    .header-busqueda form input{
        width: 100%;
        margin-bottom:25px;
    }
    
    .header-registro{
        display: none;
    }

    .header-registro a input{
        margin-bottom: 23px;
    }

    .registro-logo{
        display: flex;
        justify-content: center;
        background-color:#007aff;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-top: 7.5%;
        margin-right: 2%;
    }

    .logo{
        max-width: 110px;
        max-height: 110px;
    }

    #logo{
        margin-right: 15%;
    }

    .lupa{
        margin: 0px 10px 27px 5px;
    }
    

    .box-copyright hr{
        display: none;
    }
    .box-footer h2{
        display: none;
    }
    .box-footer a {
        display: none;
    }

    .generoPeliculas a, .generoSeries a{
        display: inline-block;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif ;
        text-decoration: none;
        font-weight: bolder;
        font-size: smaller;
        text-transform: uppercase;
        background-color: #007aff;
        padding-top: 30px;
        height: 14vh;
        color:white;
        border-color:white;
        width: 100px;
        vertical-align: middle;
        border-radius: 50%;
        margin: 2% 3%;
        border-style: double;
        border-width: 6px;   
    }

    .fotodrama p{
        display: inline-block;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif ;
        text-decoration: none;
        font-weight: bolder;
        font-size: medium;
        text-transform: uppercase;
        background-color: #007aff;
        padding-top: 30px;
        height: 14vh;
        color:white;
        border-color:white;
        width: 100px;
        vertical-align: middle;
        border-radius: 50%;
        margin: 2% 3%;
        border-style: double;
    }

    .hijo-detail-series {
        display: flex;
        flex-direction: column;
        
    }
    
    
    .series{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        
    }
    
    .detailseriessinopsis-container{
        width: 90%;
        display: flex; 
        flex-wrap: wrap;
        color: white;
        margin: auto;
        text-transform: uppercase;
    }

    .titulo h1 {
        font-size: x-large;
        text-align: center;
    }

    .titulo h2 {
        font-size: x-large;
        text-align: center;
    }
}


