a{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

input{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

body{
    background-image: url(../img/fondobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

/* Aqui comienza el header */

body header{
    background-color: #080f28;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 2000px 100px;
    height: 125px;
}
.header-nav a {
    text-decoration: none;
    color: white;    
    padding: 10px 45px;
    background-color:#007aff;
    font-weight: bolder;
    border-radius: 15px;
}

.header-registro{
    display: flex;
    align-items: center;   
}

.header-registro input{
    border: white;
    border-style:solid;
    color:white;  
    background-color: #007aff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom:35px ;
}

.header-busqueda {
    display: flex;
    align-items: center;   
}

.header-busqueda input {
    border:none;
    color: white;  
    background-color: #007aff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 35px;
}

nav{
    display: flex;
    justify-content: space-around;
}
header{
    background-image: url(../img/fondoclaro.jpg);
    max-width: 100%;
}
nav div{ 
    display: inline-block;
    align-items: flex-end;
}
.logo {
    max-width: 135px;
    max-height: 135px;
} 
.header-nav{
    padding: 40px 0px 0px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
#logo{
    padding: 0px 0px 0px 0px;
}

/* Aquí comienza el main */

main{
    max-width:  2000px;
    height: 1000%;
    padding: 1% 5%;
    justify-content: center;
    margin: auto;
    
}
.main-container{
    display: flex;
    background-color:#080f28;
    justify-content: space-around;
    margin-top: 0%;
    width: 1900px;
    padding: 0%;
    border-radius: 20px;
}
/* SECCIÓN LO MÁS VISTO EN PELÍCULAS */
.peliculas-populares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    padding: 10px 10px;
    color: white;
}
.peliculas-populares a{
    display: inline-block;
    justify-content: center;
    width: 184px;
    height: 286.2px;
}
.peliculas-populares p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
}
.peliculas-populares .marvel-endgame img{
    margin-top: 5%;
}
.peliculas-populares h2 {
    display: inline-block;
    width:1900px ;
    background-color: #080f28;
    margin-bottom: 1%;
    padding: 10px 10px;
    padding-left: 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
}
.peliculas-populares .marvel-endgame h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}

.peliculas-populares .marvel-endgame {
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content:center;
    border-radius: 20px;
}

.peliculas-populares .the-last-song {
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.peliculas-populares .the-last-song a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}

.peliculas-populares .the-last-song h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.peliculas-populares .la-chica-danesa {
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.peliculas-populares .la-chica-danesa a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.peliculas-populares .la-chica-danesa h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.peliculas-populares .sherlock-holmes {
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.peliculas-populares .sherlock-holmes a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.peliculas-populares .sherlock-holmes h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.peliculas-populares .lucy {
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.peliculas-populares .lucy a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.peliculas-populares .lucy h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
/* SECCIÓN LO MÁS VISTO EN PELÍCULAS */
.lomasvistoenpeliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    padding: 10px 10px;
    color: white;
}
.lomasvistoenpeliculas a{
    display: inline-block;
    justify-content: center;
    width: 184px;
    height: 286.2px;
}

.lomasvistoenpeliculas h2 {
    display: inline-block;
    width:1900px ;
    background-color: #080f28;
    margin-bottom: 1%;
    padding: 10px 10px;
    padding-left: 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
}
.lomasvistoenpeliculas p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
}

.lomasvistoenpeliculas .los-ilusionistas{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.lomasvistoenpeliculas .los-ilusionistas a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.lomasvistoenpeliculas .los-ilusionistas h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.lomasvistoenpeliculas .joe-black{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.lomasvistoenpeliculas .joe-black a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.lomasvistoenpeliculas .joe-black h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.lomasvistoenpeliculas .marvel-endgame { 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.lomasvistoenpeliculas .marvel-endgame a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.lomasvistoenpeliculas .marvel-endgame h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.lomasvistoenpeliculas .nerve { 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.lomasvistoenpeliculas .nerve a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.lomasvistoenpeliculas .nerve h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.lomasvistoenpeliculas .howtolose { 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.lomasvistoenpeliculas .howtolose a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.lomasvistoenpeliculas .howtolose h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
/* SECCIÓN SERIES POPULARES */
.popu-series{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    padding: 10px 10px;
    color: white;
}
.popu-series a{
    display: inline-block;
    justify-content: center;
    width: 184px;
    height: 286.2px;
}
.popu-series p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
}
.popu-series h2 {
    display: inline-block;
    width:1900px ;
    background-color: #080f28;
    margin-bottom: 1%;
    padding: 10px 10px;
    padding-left: 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
}
.popu-series h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.popu-series .casadepapel{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.popu-series .casadepapel a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.popu-series .anne{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.popu-series .anne a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.popu-series .los100 { 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.popu-series .los100 a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.popu-series .vis-a-vis{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.popu-series .vis-a-vis a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.popu-series .outlander{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.popu-series .outlander a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
/* SECCIÓN LO MÁS VISTO EN SERIES */
.visto-series{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    padding: 10px 10px;
    color: white;
}
.visto-series a{
    display: inline-block;
    justify-content: center;
    width: 184px;
    height: 286.2px;
}
.visto-series p{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
}
.visto-series h2 {
    display: inline-block;
    width:1900px ;
    background-color: #080f28;
    margin-bottom: 1%;
    padding: 10px 10px;
    padding-left: 10px;
    color:white;
    font-weight: 700;
    text-align: left;
    border-radius: 15px;
}
.visto-series h3{
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}
.visto-series .cobrakai{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.visto-series .cobrakai a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.visto-series .jane{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.visto-series .jane a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.visto-series .flash{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.visto-series .flash a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.visto-series .casadepapel{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.visto-series .casadepapel a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
.visto-series .breaking-bad{ 
    margin: 5% 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color:#007aff;
    width: 220.38px;
    height: 400.88;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.visto-series .breaking-bad a img{
    display: flex;
    margin-top: 5%;
    width: 184px ;
    height: 273px;
    justify-content:center;
}
/* Aquí comienza el footer */
footer {
    width: 100%;
    padding: 30px 0px;
    background: #080f28;
    background-size: cover;
    height: 5%;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}
.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box-footer .logo img {
    width: 200px;
}
.box-footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:white;
    font-size: 18px;
}
.box-footer h2 {
    margin-bottom: 20px;
    color:white;
    font-weight: 700;
}
.box-footer a {
    color: white;
    margin-top: 20px;
    font-weight: 650;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.box-footer a .fab {
    font-size: 25px;
}
.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    color: white;
}
.box-copyright p {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}
.box-copyright hr{
    background-color: white;
    width: 1200px;
    border: none;
    height: 3px;
}